/* Colors */
$color-dark: #1e2741;
$color-grey: #f7f7f7;
$color-main: #F6724F;
$color-title-text: #222;
$color-text-light: #999;
$color-text-dark: #666;
$color-white: #fff;
$color-line: #e4e4e4;

/* Responsive %*/
$rFullHD: 1;
$rWideScreen: 0.95;
$rDesktop: 0.90;
$rTablet: 0.85;
$rMobileXL: 0.80;
$rMobileL: 0.77;
$rMobileM: 0.72;
$rMobileS: 0.70;
